<div class="container">
  <div class="mt-5">
    <div class="clearfix">
      <h1 class="float-start">List Berita</h1>
      <a routerLink="/news/add" routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  class="mt-4 float-end btn btn-primary btn-sm">Tambah</a>
    </div>
    <hr/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Content</th>
          <th>Url</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let news of dataNews; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ news.news_title }}</td>
          <td>{{ news.news_content }}</td>
          <td>{{ news.news_url }}</td>
          <td>{{ news.created_at | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
