<div class="container">
  <div class="mt-5">
    <div class="clearfix">
      <h1 class="float-start">List Berita</h1>
      <a href="" class="mt-4 float-end btn btn-primary btn-sm">Tambah</a>
    </div>
    <hr/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Content</th>
          <th>Url</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>A</td>
          <td>B</td>
          <td>http://localhost:8000</td>
          <td>2023-03-15</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
